apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "postgres.configMapName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
{{- include "rabbitmq.labels" . | nindent 4 }}
data:
  {{- range $key, $val := .Values.config }}
  {{ $key }}: {{ $val | quote }}
  {{- end }}

